# Unreal Engine 자동 생성 파일
Binaries/
Intermediate/
DerivedDataCache/
Saved/
.vs/

# Visual Studio / 사용자별 설정
*.sln
*.suo
*.user
*.userprefs
*.VC.db
*.VC.opendb
*.opensdf
*.sdf

# IDE
.vscode/
.idea/

# 빌드 로그 / 임시 파일
*.log
*.tmp
*.bak

# 플러그인 자동 생성 파일
Plugins/*/Binaries/
Plugins/*/Intermediate/

# MQTT 접속 정보가 별도 파일에 있는 경우
Config/MQTTSecrets.ini
Config/DefaultMQTTSecrets.ini


# 임시적으로 제외할 플러그인
Plugins/FF_MQTT_Sync
Source/
.vsconfig
DtProject.code-workspace
UpgradeLog.htm
